// -------------------------------------
//   Variables
// -------------------------------------
$grey200: #F5F5F5;
$secondBackground: #E0F2F1;  //  secondBackground  secondBackground
$firstBackground: #80CBC4;   //  firstBackground  firstBackground
$grey800: #424242;
$mainNavBar: #004D40; // mainNavBar   mainNavBar

$heightMainNav: 15%;

/*@import "compass/css3/transform";*/



// *************************************
//
//   Content
//
// *************************************

*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.center-content{
  position: absolute;
  left: 50%;
  @include translate(-50%, -50%);
  top: 50%;
}

.opacity-false{@include opacity(1);}
.opacity-true{@include opacity(0);}

.full-screen {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}

.hide{
  display: none;
}

.main-wrapper{
	@extend .center-content;
	width: 100% - 10%;
	height: 100% - $heightMainNav;
	top: $heightMainNav;
	@include translate3d(-50%,0,0);
}

.first-transition-to-left{
    @include opacity(0);
	position: absolute;
	@include translate3d(-20%,0,0);
}

.list-unstyled{
    margin: auto 0;
    padding-left: 0;
    list-style: none;
}

// .main-transition-active{
// 	animation: main-transition-active 2s forwards;
// }

@keyframes first-transition-to-left-active {
	0%{
		@include translate3d(-20%,0,0); @include opacity(0);
	}
  100% {
	@include translate3d(-50%,0,0); @include opacity(1);
    /*box-shadow: 0px 12px 28px -8px $firstBackground;*/
  }
}

@keyframes first-transition-to-right-active {
	0%{
		@include translate3d(-80%,0,0); @include opacity(0);
	}
  100% {
	@include translate3d(-50%,0,0); @include opacity(1);
    /*box-shadow: 0px 12px 28px -8px $firstBackground;*/
  }
}

@keyframes first-transition-to-left-ini-active{
	0%{
		@include translate3d(-20%,0,0); @include opacity(0);
	}
  100% {
	@include translate3d(-50%,0,0); @include opacity(1);
    /*box-shadow: 0px 12px 28px -8px $firstBackground;*/
  }
}

@keyframes second-transition-to-left-active {
	0%{
		@include translate3d(-50%,0,0); @include opacity(1);
	}
  100% {
	@include translate3d(-80%,0,0); @include opacity(0);
    /*box-shadow: 0px 12px 28px -8px $firstBackground;*/
  }
}

@keyframes second-transition-to-right-active {
	0%{
		@include translate3d(-50%,0,0); @include opacity(1);
	}
  100% {
	@include translate3d(-20%,0,0); @include opacity(0);
    /*box-shadow: 0px 12px 28px -8px $firstBackground;*/
  }
}



// @keyframes second-transition-to-left-active {
//   100% {
//   	background-color: red;
//     /*box-shadow: 0px 12px 28px -8px $firstBackground;*/
//   }
// }

// -------------------------------------
//   Base
// -------------------------------------

