
$BlueGrey400: #BDBDBD;
$BlueGrey800: #424242;
$BlueGrey900: #212121;

////////////// GENERAL

*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.center-content{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.opacity-false{@include opacity(1);}
.opacity-true{@include opacity(0);}

.full-screen {
  height: 100%;
  width: 100%;
}


.back-color{background-color: red;}
///////////////////////


.backgorund-container{@extend .full-screen; background-color: #37474F;}

.background {
  background-color: $BlueGrey900;
  @extend .full-screen;
  /*background: url("../img/53483-hardDrive.jpg") no-repeat;*/
  /*-webkit-filter: blur(5px);*/
}

.background-active{animation: background-active 1s forwards;}

.background-img {
  background-color: $BlueGrey800;
  @extend .full-screen;
  background: url("../img/53483-hardDrive.jpg") no-repeat;
  -webkit-filter: blur(5px);
  height: 70%;
  position: fixed;
}

.background-img-dark{
  @extend .full-screen;
  height: 70%;
  position: fixed;
  background-color: rgba(33, 33, 33, 0.6);
}

.opacity-active-background{
  animation: opacity-active-background 1s forwards;
}

/*.background{background:url("../img/background.jpg") no-repeat; background-size: contain; -webkit-filter: blur(2px);}*/
/*.wraper-begin {right: 50%; top: 50%; position: absolute; transform: translate(50%, -50%)}*/
/*.avatar-ring{height: 110px; width: 110px; border-radius: 50%; background-color: rgba(24, 24, 24, 1); border: 2px solid rgba(255, 255, 255, 0.5);}*/

.avatar{
  @extend .center-content;
  top: 70%;
}
  
/*background:url("../img/avatar.png") no-repeat; height: 100%; width: 100%; transform: scale(0.9); border-radius: 50%; background-size: contain;}*/
/*.arrow-down-container{margin-top: 100px; position: relative;}
.arrow-down-complete{width: 0px; border-width: 17px 15px 0px 15px; border-style: solid; left: 0; right: 0; border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent; position: absolute;}
.arrow-down-padding{width: 0px; border-width: 16px 18px 0px 18px; top: -19px; right: -18px;border-style: solid; border-color: rgba(24, 24, 24, 1) transparent transparent transparent; position: absolute;}
.arrow-down-position{margin-top: 7px; z-index: 0;}
*/

/*.avatar-img{
background:url("../img/avatar.png") no-repeat; height: 100%; width: 100%; transform: scale(0.9); border-radius: 50%; background-size: contain;
}*/

/*.wraper-begin {right: 50%; top: 50%; position: absolute; transform: translate(50%, -50%)}*/

/*.avatar{ position: absolute;
    left: 50%;
    top: 29px;
    transform: translate(-50%,-50%);}*/

.avatar-ring {
  border-radius: 50%;
  border: 5px solid $BlueGrey900;
}

.avatar-img {
  background: url("../img/avatar.png") no-repeat;
  height: 110px;
  width: 110px;
  transform: scale(1);
  border-radius: 50%;
  background-size: contain;
}

.avatar-active {
  animation: avatar-active 1s  forwards;
}

.avatar-ring-active {
  animation: avatar-ring-active 2s  forwards;
}

.nav-bar-active {
  animation: nav-bar-active 2s 1s forwards;
}

/*// .nav-bar {
//   height: 15%;
//   width: 100%;
//   background-color: $BlueGrey900;
// }*/

.line-nav-bar-active {
  animation: line-nav-bar-active 1s 1s forwards;
}

.content-border-title{border: 1px solid $BlueGrey400; @extend .center-content; transform: rotateZ(180deg) translateX(50%); top: 25%; 
  legend{padding: 0 13px; color: $BlueGrey400; transform: rotateZ(180deg); font-size: 1em;}
  .title-name{font-size: 2em; transform: rotateZ(180deg); display: block; padding: 0.5em; color: $BlueGrey400;}
}

.line-nav-bar {
  width: 0;
  height: 1px;
  border-bottom: 1px solid $BlueGrey900;
  position: absolute;
  top: 15%;
  /*// left: 20%;*/
}

.line-background{
  @extend .line-nav-bar;
  width: 100%; top:69%; border-bottom: 30px solid $BlueGrey900;}

.nav-bar{
    background-color:$BlueGrey900;
    padding-left: 150px;
    height: 15%;
    width: 100%;
    text-align: center;
    @include opacity(0);
    position: absolute;
    top: 0;
  .nav-bar-text{    
    display: inline-block;
    padding-left: 20px;
    text-decoration: initial;
  }
  .list-unstyled{
    margin: auto 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    height: 100%;
    height: 50%;
    position: relative;
    top: 50%;   
  }
  ul>li{
    padding: 0;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;
    height: 100%;
    border-bottom: 5px solid rgba(96, 125, 139, 0); text-decoration: none;    
    &:hover {      
      animation: nav-bar-a-active 1s  forwards;
    }
    &:active{
      border-bottom: 5px solid rgba(96, 125, 139, 1);
    }
    a {
      padding: 0 20px;
      display: inline-block;
      text-decoration: none;
      color: $BlueGrey400;  
      height: 100%;  
    }    
  }
}
  /*.nav-bar-a{
    border-bottom: 5px solid rgba(96, 125, 139, 1); text-decoration: none;
  }*/




///////////////////////// ANIMATIONS

@keyframes opacity-active-background {
  100% {
   @include opacity(0);
   /*background: none;*/
   // -webkit-filter: blur(0);
  }
}

@keyframes background-active {
  100% {
   background-color: $BlueGrey400;
   border-bottom: 30px solid $BlueGrey400;
   /*background: none;*/
   // -webkit-filter: blur(0);
  }
}

@keyframes avatar-active {
  /*0%   {top: 0;}*/
  100% {
    top: 5%;
    left: 2%;
    transform: translate(0, 0);
  }
}


@keyframes avatar-ring-active {
  0% {
    transform: scale(1);
  }
  50% {
    border: rgba(255, 255, 255, 0);
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
    border: 5px solid $BlueGrey900;
    box-shadow: 0 1px 6px $BlueGrey900;
    /*box-shadow: 0px 12px 28px -8px $BlueGrey400;*/
  }
}


@keyframes nav-bar-active {
  100% {
    background-color:$BlueGrey900;
    @include opacity(1);
    box-shadow: 0 1px 6px $BlueGrey900;
     /*box-shadow: 0 3px 10px $BlueGrey400;*/
  }
  /*100% {transform: scaleX(1); background-color: #263238; height: 15%; margin-bottom: 0;}*/
}

@keyframes line-nav-bar-active{
  100% {width: 100%;}
  /*100% {transform: scaleX(1); background-color: #263238; height: 15%; margin-bottom: 0;}*/
}

@keyframes nav-bar-a-active {
  100% {border-bottom: 5px solid $BlueGrey400;}
}
