


////////////// GENERAL

$top-separator: 70%;


///////////////////////




.backgorund-container{@extend .full-screen; background-color: $firstBackground; z-index: -1; position: relative;}


.background {
  background-color: $mainNavBar;
  @extend .full-screen;
  &:before{
    content: '';
    width: 100%; top:69%; border-bottom: 30px solid $mainNavBar; border-top: 1px solid $firstBackground; position: absolute;
  }
/*  &:after{
    @extend .center-content;
    content: '';
    height: 50px;
    width: 100px;
    border-radius: 50% / 100% 100% 0 0;
    border: 1px solid rgb(189, 189, 189);
    top: 69%;
    border-bottom: 0px solid rgba(33, 33, 33, 0);
    z-index: 5;

  }*/
  /*background: url("../img/53483-hardDrive.jpg") no-repeat;*/
  /*-webkit-filter: blur(5px);*/
}

/*.background-active{animation: background-active 1s forwards;}*/

.background-img {
  background-color: $grey800;
  @extend .full-screen;
  background: url("../img/53483-hardDrive.jpg") no-repeat;
  -webkit-filter: blur(5px);
  height: $top-separator;
  position: fixed;
}

.background-img-dark{
  @extend .full-screen;
  height: $top-separator;
  position: fixed;
  background-color: rgba(33, 33, 33, 0.6);
}

/*.opacity-active-background{
  animation: opacity-active-background 1s forwards;
}*/

/*.background{background:url("../img/background.jpg") no-repeat; background-size: contain; -webkit-filter: blur(2px);}*/
/*.wraper-begin {right: 50%; top: 50%; position: absolute; transform: translate(50%, -50%)}*/
/*.avatar-ring{height: 110px; width: 110px; border-radius: 50%; background-color: rgba(24, 24, 24, 1); border: 2px solid rgba(255, 255, 255, 0.5);}*/

.avatar{
  @extend .center-content;
  top: $top-separator;
}
  
/*background:url("../img/avatar.png") no-repeat; height: 100%; width: 100%; transform: scale(0.9); border-radius: 50%; background-size: contain;}*/
/*.arrow-down-container{margin-top: 100px; position: relative;}
.arrow-down-complete{width: 0px; border-width: 17px 15px 0px 15px; border-style: solid; left: 0; right: 0; border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent; position: absolute;}
.arrow-down-padding{width: 0px; border-width: 16px 18px 0px 18px; top: -19px; right: -18px;border-style: solid; border-color: rgba(24, 24, 24, 1) transparent transparent transparent; position: absolute;}
.arrow-down-position{margin-top: 7px; z-index: 0;}
*/

/*.avatar-img{
background:url("../img/avatar.png") no-repeat; height: 100%; width: 100%; transform: scale(0.9); border-radius: 50%; background-size: contain;
}*/

/*.wraper-begin {right: 50%; top: 50%; position: absolute; transform: translate(50%, -50%)}*/

/*.avatar{ position: absolute;
    left: 50%;
    top: 29px;
    transform: translate(-50%,-50%);}*/

.avatar-ring {
  border-radius: 50%;
   /*border: 1px solid $firstBackground;*/
  z-index: 1;
  position: relative;
  /*&:after {
    content: '';
    background: $mainNavBar;
    width: 100%;
    height: 55%;
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: scale(1.2);
    border-radius: 0 0 50% 50% / 100%;
    }*/
     &:before{
      content: '';
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 255, 0);
      border-top: 1px solid $firstBackground;
      position: absolute;
      border-radius: 50% / 100% 100% 0 0;
      height: 50%;
      top: -2%;
    }

.avatar-img {
  background: url("../img/avatar.png") no-repeat;
  height: 110px;
  width: 110px;
  transform: scale(1);
  border-radius: 50%;
  background-size: contain;
  z-index: 3;
  position: relative;
  border: 6px solid $mainNavBar;
  background-color: $mainNavBar;
  /*&:after{
    content: '';
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 255, 0);
    border-top: 2px solid #BDBDBD;
    position: absolute;
    border-radius: 50% / 100% 100% 0 0;
    height: 50%;
  }*/
   
  }

}

.line-nav-bar {
  width: 0;
  height: 1px;
  border-bottom: 2px solid $firstBackground;
  position: absolute;
  top: $heightMainNav;
  /*// left: 20%;*/
}


/*.avatar-active {
  animation: avatar-active 1s  forwards;
}

.avatar-ring-active {
  animation: avatar-ring-active 2s  forwards;
  &:after {content: none;}
  .avatar-img {border: none;}
  .content-border-title{border: 1px solid red;}
}

.nav-bar-active {
  animation: nav-bar-active 2s 1s forwards;
}
*/
/*// .nav-bar {
//   height: 15%;
//   width: 100%;
//   background-color: $mainNavBar;
// }*/

/*.line-nav-bar-active {
  animation: line-nav-bar-active 1s 1s forwards;
}
*/

.active-main-bar{border-bottom: 3px solid $firstBackground;}


.content-border-title{border: 1px solid $firstBackground; @extend .center-content; transform: rotateZ(180deg) translateX(50%); top: 25%; 
  legend{padding: 0 13px; color: $firstBackground; transform: rotateZ(180deg); font-size: 1em;}
  .title-name{font-size: 2em; transform: rotateZ(180deg); display: block; padding: 0.5em; color: $firstBackground;}
}

.nav-bar{
    background-color:$mainNavBar;
    // padding-left: 150px;
    height: $heightMainNav;
    width: 100%;
    text-align: center;
    @include opacity(0);
    position: absolute;
    top: 0;
    // z-index: 1;
  .nav-bar-text{    
    display: inline-block;
    padding-left: 20px;
    text-decoration: initial;
  }
  .list-unstyled{
    margin: auto 0;
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    height: 50%;
    position: relative;
    top: 50%;   
  }
  ul>li{
    padding: 0;
    display: inline-block;
    margin-left: -4px;
    margin-bottom: 0;
    height: 100%;
    // border-bottom: 3px solid rgba(0, 0, 255, 0);
    text-decoration: none;    
    &:hover {      
      animation: nav-bar-a-active 1s forwards;
    }
    &:active{
      @extend .active-main-bar;
    }
    a {
      outline: none;
      padding: 0 20px;
      display: inline-block;
      text-decoration: none;
      color: $firstBackground;  
      height: 100%;  
    }    
  }
}
  /*.nav-bar-a{
    border-bottom: 5px solid rgba(96, 125, 139, 1); text-decoration: none;
  }*/



.click-home-active{

  .line-background, .content-border-title{@extend .hide;}

  .avatar{
    animation: avatar-active 1s  forwards;
  }

  .background{animation: background-active 1s forwards; overflow: hidden;
    &:before{
      content: '';
      @extend .hide;
    }
  }

  .background-img-dark, .background-img{
    animation: opacity-active-background 1s forwards;
  }

  .avatar-ring{
    animation: avatar-ring-active 2s  forwards;
    &:before {content: none;}
    .content-border-title{border: 1px solid $firstBackground;}
  }

  .nav-bar{
    animation: nav-bar-active 2s 1s forwards;
  }

  .line-nav-bar{
    animation: line-nav-bar-active 1s 1s forwards;
  }

  .first-transition-to-left{
    animation: first-transition-to-left-active 0.5s forwards;
  }  

  .first-transition-to-left-ini{
    animation: first-transition-to-left-active 1s forwards;
  }  

  .second-transition-to-left{
    animation: second-transition-to-left-active 0.5s forwards;
  }

  .first-transition-to-right{
    animation: first-transition-to-right-active 0.5s forwards;
  } 

  .second-transition-to-right{
    animation: second-transition-to-right-active 0.5s forwards;
  }

}

/*@mixin set-color-section($some-number) {
  @keyframes set-color-section {
    100% {$firstBackground: red;}
  }
}*/

.set-color-section{
  /*animation: set-color-section 1s forwards;*/
  $firstBackground: $firstBackground;
  /*@include set-color-section(10px);*/
}



///////////////////////// ANIMATIONS

@keyframes opacity-active-background {
  100% {
   @include opacity(0);
   /*background: none;*/
   // -webkit-filter: blur(0);
  }
}

@keyframes background-active {
  100% {
   background-color: $mainBackground;
   border-bottom: 30px solid $firstBackground;
   /*background: none;*/
  }
}

@keyframes avatar-active {
  /*0%   {top: 0;}*/
  100% {
    top: 8%;
    left: 2%;
    transform: translate(0, 0);
  }
}


@keyframes avatar-ring-active {
  0% {
    transform: scale(1);
  }
  50% {
    border: rgba(255, 255, 255, 0);
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
    /*border: 5px solid $mainNavBar;*/
    box-shadow: 0 1px 6px $mainNavBar;
    /*box-shadow: 0px 12px 28px -8px $firstBackground;*/
  }
}


@keyframes nav-bar-active {
  100% {
    background-color:$mainNavBar;
    @include opacity(1);
    box-shadow: 0 1px 6px $mainNavBar;
     /*box-shadow: 0 3px 10px $firstBackground;*/
  }
  /*100% {transform: scaleX(1); background-color: #263238; height: 15%; margin-bottom: 0;}*/
}

@keyframes line-nav-bar-active{
  100% {width: 100%;}
  /*100% {transform: scaleX(1); background-color: #263238; height: 15%; margin-bottom: 0;}*/
}

@keyframes nav-bar-a-active {
  0%{border-bottom: 3px solid rgba(0, 0, 255, 0);}
  100% {border-bottom: 3px solid $firstBackground;}
}
