<section class="main-wrapper main-transition">
	<div class="about-block">		
	<ul class="list-unstyled">
			<li><b>Dirección:</b> <span>Suipacha 1364 3b, 2000, Rosario, Argentina
		España 1551, 2173, Chabás, Argentina.</span></li>
			<li><b>Teléfono:</b> <span>03464480409</span></li>
			<li><b>Teléfono móvil:</b> <span>0346415510485</span></li>
			<li><b>Correo electrónico:</b> <span>ingcrocefederico@gmail.com</span></li>
			<li><b>Nacionalidad:</b> <span>Argentino</span></li>
			<li><b>Fecha de nacimiento:</b> <span>23 de enero de 1989</span></li>
			<li><b>Sexo:</b> <span>Masculino</span></li>
		</ul>
	</div>

</section>